<!DOCTYPE html>
<html>
  <head>
    <title>CookingConverter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    body{
        background: #DADADA;
    }
    input[type="submit" i] {
        color :#fab2a3;border: 3px solid black;overflow: hidden; width: 150px;height:40px;background: black; text-align: center;
    }
    input[type="submit" i]:hover {
        background: #71f7ff;
        color :#fab2a3;
        cursor: pointer;
    }
    a:hover{
        color :darkblue;
    }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
